{{define "about"}}
{{template "header" .}}
<div>
    <img src="/static/image/logo.png" alt="GoodMall" class="col-lg-2 col-md-3 col-sm-4" />
    <p>This is community dirven project.</p>
</div>
{{template "footer"}}
{{end}}