{{define "cart-num"}}
<a href="/cart" class="btn position-relative">
    <i class="fa-solid fa-cart-shopping fa-xl">
    </i>
    {{ if $.cart_num}}
    <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill text-bg-warning">
        {{ $.cart_num }}
        {{ end }}
    </span>
</a>
{{end}}